{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目管理</title>
</head>
<body>
项目名称:{{ project.name }}<br>
项目类型:{{ project.type }}<br>
项目简介: <br><textarea  cols="150" rows="70"  >{{ project.inform }}</textarea><br>
经费使用情况:
<table class="table_con" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr style="background:blue ;">
                        <th width="20%" height="25px;" align="center" valign="middle" scope="col">使用金额</th>
                        <th width="80%" height="25px;" align="center" valign="middle" scope="col">使用说明</th>
                      </tr>
                    {% for money in money %}
                      <tr class="t_con">
                        <td align="center" valign="middle" scope="row">{{ money.quantity }}</td>
                        <td align="center" valign="middle">{{ money.detail }}</td>
                      </tr>
                    {% endfor %}
</table>
添加经费使用记录:
<form action="addmoneyrecord" method="post">
    使用金额:<input type="text" name="quantity"><br>
    使用详情: <br> <textarea name="detail"  cols="30" rows="10"></textarea>
    <input type="text" name="id" value="{{ project.id }}" style="display: none">
    <input type="submit" value="提交">
</form>
<br>
中期检查:
<form action="addmiddle" method="post">
    检查情况: <br> <textarea name="middle"  cols="100" rows="40">{{ project.middle }}</textarea>
    <input type="text" name="id" value="{{ project.id }}" style="display: none"><br>
    {% if project.middle == '' %}
    <input type="submit" value="提交">
    {% endif %}
</form>
<br>
结题验收动态追踪:
<table class="table_con" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr style="background:blue ;">
                        <th width="10%" height="25px;" align="center" valign="middle" scope="col">日期</th>
                        <th width="90%" height="25px;" align="center" valign="middle" scope="col">验收日志</th>
                      </tr>
                    {% for check in check %}
                      <tr class="t_con">
                        <td align="center" valign="middle" scope="row">{{ check.date }}</td>
                        <td align="center" valign="middle">{{ check.log }}</td>
                      </tr>
                    {% endfor %}
</table>
添加验收记录:
<form action="addcheck" method="post">
    验收日志: <br> <textarea name="log"  cols="30" rows="10"></textarea>
    <input type="text" name="id" value="{{ project.id }}" style="display: none">
    <input type="submit" value="提交">
</form>
<br>
评选结果:
<form action="addresult" method="post">
    检查情况: <br> <textarea name="result"  cols="100" rows="40">{{ project.result }}</textarea>
    <input type="text" name="id" value="{{ project.id }}" style="display: none"><br>
    {% if project.result == '' %}
    <input type="submit" value="提交">
    {% endif %}
</form>
<br>
项目成果统计:
<table class="table_con" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr style="background:blue ;">
                        <th width="10%" height="25px;" align="center" valign="middle" scope="col">成果类型</th>
                        <th width="90%" height="25px;" align="center" valign="middle" scope="col">成果说明</th>
                      </tr>
                    {% for archievement in archievement %}
                      <tr class="t_con">
                        <td align="center" valign="middle" scope="row">{{ archievement.type }}</td>
                        <td align="center" valign="middle">{{ archievement.detail }}</td>
                      </tr>
                    {% endfor %}
</table>
添加项目成果:
<form action="addarchievement" method="post">
    成果类型:<input type="text" name="type"><br>
    成果说明: <br> <textarea name="detail"  cols="30" rows="10"></textarea>
    <input type="text" name="id" value="{{ project.id }}" style="display: none">
    <input type="submit" value="提交">
</form>
</body>
</html>